<nav class="d-flex flex-column mt-0">
    <div class="navbar navbar-light bg-white">
        <!-- <button (click)="toggleSidebar()" class="btn btn-link">
                <img height="24" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAHMAAABkCAMAAACCTv/3AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAZQTFRF////5ubmueBsSwAAAAJ0Uk5T/wDltzBKAAAAPklEQVR42uzYQQ0AAAgDseHfNC4IyVoD912WAACUm3uampqampqamq+aAAD+IVtTU1NTU1NT0z8EAFBsBRgAX+kR+Qam138AAAAASUVORK5CYII=" />
        </button> -->
        <!-- <div class="row w-100 mr-auto"> -->
        <button class="col-1 navbar-toggler mr-4 border-0 d-inline-block d-lg-none" type="button" (click)="toggleSidebar()" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        <span class="col-3 navbar-brand ml-xl-4 d-sm-none">Чаты</span>

        <div class="col form-inline">
            <input type="text" class="form-control search-input" placeholder="Поиск...">
        </div>
        <!-- </div> -->
    </div>
    <ul class="nav nav-tabs nav-fill d-lg-none">
        <li class="nav-item">
            <a class="nav-link active" (click)="setChatType('private')" [ngClass]="{'active': chatType == 'private'}">Личные</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" (click)="setChatType('group')" [ngClass]="{'active': chatType == 'group'}">Группы</a>
        </li>
    </ul>
</nav>


<div class="chat-list">
    <div slimScroll [options]="opts" class="slimscroll">
        <a class="px-4 d-block" *ngFor="let chat of chats | async" [ngClass]="{'active': chat._id === chatId}" (click)="openChat(chat)">
            <div class="py-4 media">
                <img class="d-flex align-self-center mr-3 avatar" [src]="chatAvatar(chat)">
                <div class="media-body">
                    <h6 class="mt-0 mb-1">{{ chatName(chat) }}</h6>
                    <small class="last-m">{{chat.message.data?.text}}</small>
                </div>
            </div>
        </a>
    </div>
</div>