@import "../../../styles/variables";
nav {
    background-color: $brand-primary;
    height: 101px;
    // margin: 0 -16px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    border: 1px solid $gray-lighter;
    @media (min-width: map-get($grid-breakpoints, lg)) {
        height: auto;
        background-color: #fff;
        border: 0;
    }
    &>.nav {
        padding: 1px 15px;
        border: 0 !important;
        width: 100%;
        &>li>a.nav-link {
            border: 0;
            color: #fff;
            border-bottom: 4px solid $brand-primary;
            font-weight: 500;
            &.active,
            &:hover,
            &:focus,
            &:active {
                background-color: transparent;
                border-bottom: 4px solid lighten($brand-primary, 25%);
            }
        }
    }
}

.search-input {
    border: 0;
    border-bottom: 1px solid $gray-light;
    border-radius: 0;
    width: 100%;
}

.nav-header {
    padding-top: 4px;
    padding-bottom: 3px;
}

.chat-list {
    transition: 300ms all ease-in;
    margin: 0 -16px;
    margin-top: 101px;
    // overflow-y: auto;
    height: 100%;
    .media {
        border-bottom: 1px solid $gray-lighter;
    }
    a {
        transition: 200ms all ease-in;
        color: $gray;
        cursor: pointer;
        padding-left: 2.5rem !important;
        &:hover,
        &:focus,
        &.active {
            text-decoration: none;
            background-color: $gray-lighter; // $brand-primary; //
            // color: $gray-lighter;
            //
            // border-bottom: 1px solid $brand-primary;
        }
    }
    .last-m {
        margin-top: 2px;
        line-height: 16px;
        /* font-size: 12px; */
        overflow: hidden;
        max-height: 32px;
        display: inline-block;
        color: $gray-light;
        max-width: 190px;
    }
    .slimscroll {
        height: calc( 100% - 50px);
    }
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    //border: 1px solid lighten($brand-primary, 40%);
}