<div class="row h-100">
    <div class="col d-flex flex-row align-items-center left-side">
        <img [src]="image" class="img-fluid mx-auto d-block w-50" alt="Gap">
    </div>
    <div class="col text-white  d-flex right-side align-items-center flex-row bg-primary">
        <div class="mx-auto" [ngClass]="{'col-12' : isProfile}">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>