.video-wrapper{
  position: relative;
  &:before{
    content: ' ';
    position: absolute;
    width: 100px;
    height: 100px;
    background-size: 100%;
    top: 95px;
    left: 200px;
  }
  &.paused:before{
    background-image: url('/assets/img/video_play.png');
    display: block;
  }
  &.played:before{
    background-image: url('/assets/img/video_pause.png');
    display: none;
  }

  &.played:hover:before{
    display: block;
  }
  img#video-block{
    width: 85%;

  }
  .video-description{
    height: 50px;
    margin-top: -10px;
    border-radius: 0px 0px 15px 15px;
    text-align: right;
    color: white;
    padding-top: 15px;
    padding-right: 8px;
  }

}