<div class="video-wrapper" style="padding-bottom: 15px;"  (click)="playVideo(url+ message.data.v_src)">
    <img id="video-block" [src]="src">
    <img class="buttonDownload" src="/assets/img/play.svg" alt="">
    <div class="video-description" [ngStyle]="{'width': videoWidth}">
        <span> <img src="/assets/img/video_white.svg" style="width:25px" alt=""></span>
        <span> 18:42</span>
        <span> 35MB</span>
    </div>
</div>

