@import "../../../styles/variables";
.header {
    flex: 0 1 60px;
    //height: 60px;
    background-color: #fff;
    border-bottom: 1px solid $gray-lighter;
    margin: 0 -15px;
    @media (min-width: map-get($grid-breakpoints, sm)) {
        flex: 0 1 101px;
        //height: 90px;
        background-color: $gray-lighter;
    }
}

sticker-place {
    position: absolute;
    bottom: 45px;
    right: 40px;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    //border: 1px solid lighten($brand-primary, 40%);
}

.message-box {
    flex: 1 1 auto;
    max-height: calc(100% - 140px);
    border-bottom: 1px solid $gray-lighter;
    overflow-y: auto;
    overflow-x: hidden;
    max-width: 100%;
    @media (min-width: map-get($grid-breakpoints, sm)) {
        //max-height: calc(100% - 210px);
    }
}

.message-row {
    width: 100%;
    padding: 10px;
    //display: flex;
    flex-direction: column;
    .icon.status {
        display: none;
    }
    &.system {
        .message-wrapper {
            align-self: center;
            margin: 0 auto;
        }
    }
    &.own {
        .message-wrapper {
            //align-self: flex-end;
            margin-left: auto;
        }
        .message-info {
            width: 65px;
            margin-right: auto;
        }
        .message-buble {
            margin-left: 70px;
        }
        .icon.status {
            display: inline-block;
        }
    }
    &.alien {
        .message-wrapper {
            // align-self: flex-start;
            margin-right: auto;
        }
        .message-info {
            margin-left: auto;
        }
        .message-buble {
            margin-right: 60px;
        }
    }
}

.message-wrapper {
    //width: 55%;
    @media (min-width: map-get($grid-breakpoints, md)) {
        width: 70%;
    }
    @media (min-width: map-get($grid-breakpoints, xl)) {
        width: 55%;
    }
}

.message-info {
    width: 55px;
    margin-top: -20px;
    color: $gray-light;
}

.input-box {
    display: flex;
    flex-flow: column;
    flex: 0 1 auto;
    //min-height: 80px;
    @media (min-width: map-get($grid-breakpoints, sm)) {
        //min-height: 120px;
        flex-flow: row;
    }
}

.toolbar {
    color: $brand-primary;
    text-align: right;
    width: 100%;
    display: flex;
    flex-flow: row;
    flex: 1 1 40px;
    margin-top: auto;
    @media (min-width: map-get($grid-breakpoints, sm)) {
        //min-height: 120px;
        flex: 0 1 auto;
        flex-flow: column;
    }
    .btn-group {
        float: right;
        margin-left: auto;
        @media (min-width: map-get($grid-breakpoints, sm)) {}
        & > .btn {
            border-radius: 0;
        }
    }
}

.input-box {
    // padding-bottom: 40px;
    // position: relative;
}

.message-input {
    flex: 1 1 auto;
    border: 0;
    max-height: 300px;
}