@import "../../../styles/variables";
.login-panel {
    padding: 50px;
    border: 1px solid #fff;
    //width: 350px;
    text-align: center;
    border-radius: 10px;
    max-width: 400px;
}


h3{
    font-size: 3.75rem;
}



#phone{
    font-size: 20px;
    padding-left: 96px;
    width: 223px;
    padding-top: 15px;
    margin: auto;
    border-radius: 0.25rem;
    height: 45px;
    padding-bottom: 15px;
    @media screen and(max-width: 769px){
        padding-left: 90px;
    }
}
.phoneHolder{
    position: absolute;
    left: 50px;
    bottom: 5px;
    font-size: 32px;
    color: #5347a4;
    @media screen and(max-width: 769px){
       left: 32px;
    }
    @media screen and(max-width: 361px){
        left: 10px;
    }
}
.digitalHolder{
    position: absolute;
    left: 79px;
    bottom: 7px;
    color: silver;
    font-size: 21px;
    @media screen and(max-width: 769px){
        left: 59px;
    }
    @media screen and(max-width: 361px){
        left: 38px;
    }
}
.text-hint {
    color: $gray-light;
    font-size: 18px;
}
.btn-outline-light{
    width: 223px;
    font-size: 15px;
}
