<div class="login-panel mx-auto">
    <h3>
        Войти
    </h3>
    <p class="text-hint">Введите номер телефона для получения кода подтверждения</p>
    <div *ngIf="errorMessage" class="alert alert-danger">
        <strong>Ошибка</strong> {{errorMessage}}
    </div>
    <div class="form-group" style="position: relative">
        <label for="phone">
          Номер телефона
        </label>

        <span class="fa fa-phone phoneHolder"></span>
        <span class="digitalHolder">+998</span>
        <input id="phone" [textMask]="{mask: mask}" [(ngModel)]="phone" class="form-control" />
    </div>
    <div class="form-group">
        <!--<a [routerLink]="['/register']" class="btn btn-link">Забыл пароль</a>-->
        <button class="btn btn-outline-light" (click)="login()">Войти</button>
    </div>
</div>