<div class="row h-100">
    <div class="col d-flex flex-row align-items-center left-side col-1 profile">
        <img [src]="image" class="img-fluid mx-auto d-block w-50" alt="Gap">
    </div>
    <div class="col text-white  d-flex right-side profile" >
        <div class="mx-auto col-12">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>