<div class="row align-items-center h-100">
    <div class="col-md-4 ml-5 mr-auto flex-column">
        <h1 class="text-primary mb-3">Профиль</h1>
        <h3 class="text-dark mb-b5"> +{{enteredPhone | phonePipe}}</h3>
        <div class="reg-panel well">

            <form novalidate>
                <div *ngIf="errorMessage" class="alert alert-danger">
                    <strong>Ошибка</strong> {{errorMessage}}
                </div>

                <div class="form-group">
                    <label for="username">
                            Имя пользователя
                        </label>
                    <input required="true" id="username" name="username" [(ngModel)]="username" class="form-control" placeholder="@Не указанно" />
                    <p *ngIf="errorUName" style="color: red; margin-top: 5px">{{errorUNameText}}</p>
                </div>
                <div class="form-group">
                    <label for="firstName">
                            Имя
                        </label>
                    <input required="true" id="firstName" name="firstName" [(ngModel)]="firstName" class="form-control" placeholder="Не указанно" />
                    <p *ngIf="errorName" style="color: red; margin-top: 5px">Поле Имя обязательно к заполнению</p>
                </div>
                <div class="form-group">
                    <label for="lastName">
                            Фамилия
                        </label>
                    <input required="true" id="lastName" name="lastName" [(ngModel)]="lastName" class="form-control" placeholder="Фамилия" />
                </div>

                <!-- <div class="form-group">
                        <div class="checkbox-inline">
                            <label>
                              <input name="agreement" type="checkbox" value="true" [(ngModel)]="agree">
                              Принимаю условия <a [routerLink]="['/page', '3']"> публичной оферты </a>
                            </label>
                        </div>
                    </div> -->

                <div class="form-group">
                    <button class="btn btn-default" type="submit" (click)="register()">
                    <i class="fa fa-check" aria-hidden="true"></i>
                    Завершить
                </button>
                </div>
            </form>
        </div>
    </div>
    <div class="ml-5 mr-auto flex-column" style="width:400px;">
        <div class="reg-panel well-left" (click)="uploadPhoto()">
            <ng-container *ngIf="src">
                <img [src]="src" alt="" class="img-fluid">
            </ng-container>
            <ng-container *ngIf="!src">
                <i class="fa fa-camera" aria-hidden="true" style="font-size: 15px; margin-right: 5px;"></i> Нажмите что бы загрузить фото
            </ng-container>

            <input type="file" style="display: none" id="avatarfile" name="avatarfile" (change)="appendingFile($event)">
        </div>
    </div>
</div>