.img-logo {
    padding: 50px;
}

.profile-title {
    color: #5b4f97;
    font-weight: 100;
    margin-bottom: 50px;
}

.m {
    &b {
        &-b5 {
            margin-bottom: 150px;
        }
    }
}

.reg-panel.well-left {
    cursor: pointer;
    background-color: #5b4f97;
    height: 400px;
    justify-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    color: white;
    border-radius: 46px 46px 0 46px;
}

.reg-panel {
    margin-top: 20px;
    border: none;
    background: transparent;
    box-shadow: none;
    color: #5745a8;
    label {
        font-weight: 500;
    }
    input.form-control {
        border: none;
        border-bottom: 1px solid black;
        box-shadow: none;
        border-radius: 0;
        width: 232px;
        font-size: 14px;
        &:focus {
            outline: none;
        }
    }
    .btn {
        width: 160px;
        background-color: #5b4f97;
        color: white;
        font-size: 17px;
        justify-self: left;
        .fa {
            -webkit-text-stroke: 1px inherit;
        }
    }
    .form-group {
        margin-top: 25px;
    }
}