<div class="conf-panel well">
    <h3>
        Подтвердите номер
    </h3>
    <p class="text-hint">Введите код из смс, присланный на номер <b>{{phone}}</b></p>
    <div *ngIf="errorMessage" class="alert alert-danger">
        <strong>Ошибка</strong> {{errorMessage}}
    </div>
    <div class="form-group">
        <label for="phone">
          Код
        </label>
        <input id="code" [(ngModel)]="code" class="form-control" placeholder="код подтверждения" />
    </div>
    <div class="form-group">
        <a href="#" class="btn btn-link btn-block text-white" (click)="resendSms()">Переотправить СМС</a>
        <button class="btn btn-outline-light mt-3" (click)="confirm()">Подтвердить</button>
    </div>
</div>