@import "../../../styles/variables";
.conf-panel {
    padding: 50px;
    border: 1px solid #fff;
    text-align: center;
    border-radius: 10px;
    background: transparent;
    max-width: 400px;
}


h3{
    font-size:3rem;
}




.text-hint {
    color: $gray-light;
    font-size: 16px;
}
input.form-control{
    font-size: 18px;
    width: 223px;
    margin: auto;
}
.btn-link{
    font-size: 14px;
}
.btn-outline-light{
    font-size: 20px;
}