/* this file will be extracted to main dist folder and is imported in index.html */


/* This file is for setting global styles  */

@import "~nouislider/distribute/nouislider.min.css";
@import 'variables';
@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import '../../node_modules/font-awesome/css/font-awesome.css';
nav {
    margin-top: 16px;
}

// nav a {
//   background-color: $nav-button-color;
//   color: white;
//   padding: 8px 16px;
//   margin: 8px;
//   vertical-align: middle;
//   line-height: 1.25;
//   text-align: center;
//   text-decoration: none;
//   border-radius: 4px;
// }
html,
body {
    width: 100%;
    overflow: hidden;
}

html,
body,
main,
home {
    height: 100%;
}

.chat-list {
    .slimscroll {
        &-bar,
        &-grid {
            visibility: hidden;
        }
    }
    &:hover {
        .slimscroll {
            &-bar,
            &-grid {
                visibility: visible;
            }
        }
    }
}

.message-buble {
    padding: 1rem;
    border-radius: 1rem;
    .own & {
        background-color: $brand-primary;
        color: $gray-lighter;
        border-bottom-right-radius: 0;
    }
    .alien & {
        background-color: $gray-lighter;
        border-top-left-radius: 0;
    }
}

img-message {
    .own & {
        text-align: right;
    }
}
sticker-message{
    .own &{
        margin-left: 60%;
    }
}
video-message {
    img.buttonDownload {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 80px;
        margin-left: -80px;
        margin-top: -40px;
    }
    .own & {
        img#video-block {
            margin-left: 15%;
        }
        img.buttonDownload {
            left: 65%;
        }
    }
}

.alien .message-sound {
    background-color: $gray-lighter;
    border-top-left-radius: 0;
    .play {
        background-image: url('../assets/img/play.svg');
    }
    .stop {
        background-image: url('../assets/img/pause.svg');
    }
}

.own .message-sound {
    background-color: $brand-primary;
    color: $gray-lighter;
    border-bottom-right-radius: 0;
    margin-left: auto;
    .play {
        background-image: url('../assets/img/play_white.svg');
    }
    .stop {
        background-image: url('../assets/img/pause_white.svg');
    }
}
.own video-message .video-description{
    background-color: #5347a4;
    margin-left: 15%;

}
.alien video-message .video-description{
    background-color: #f0f2f5;
}

.equo {
    .noUi-handle::after,
    .noUi-handle::before {
        content: "";
        display: none;
        position: absolute;
        height: 14px;
        width: 1px;
        background: #E8E7E6;
        left: 14px;
        top: 6px;
    }
    .noUi-horizontal .noUi-handle {
        width: 10px;
        height: 10px;
        left: -6px;
        top: -4px;
    }
    .noUi-horizontal {
        height: 5px;
    }
}

light-box {
    background-color: rgba(0, 0, 0, .8);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: none;
    &.shown {
        display: block;
    }
}