@import '../../../styles/variables';
.noUi-horizontal {
  height: 5px;
}
.message-sound{
  width: 232px;
  height: 50px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  justify-self: flex-end;

  .play, .stop {
    width: 30px;
    text-align: center;
    vertical-align: middle;

    border-radius: 68px;
    height: 30px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-left: 20px;
    cursor: pointer;
  }
  .equo{

    width: 100px;
    .first{
      width: 0px;
      height: 1px;
      background-color: gray;
      display: inline-block;
    }
    .second{
      width: 99px;
      height: 1px;
      background-color: black;
      display: inline-block;
    }
  }

  .duration{
    justify-self: end;
    margin-right: 15px;
  }
}