<div class="message-sound">
    <div class="play" (click)="playMusic(file)" *ngIf="!isPlayed">
    </div>
    <div class="stop"  (click)="pauseMusic()" *ngIf="isPlayed">
    </div>
    <div class="equo"><nouislider [connect]="true" [min]="0" [max]="maxRange" (update)="changePosition()" [(ngModel)]="wasPlayed"></nouislider></div>
    <div class="duration"> 00:0{{shownMax}}</div>
</div>