<span (click)="closeImg(false)">X</span>
<img *ngIf= "!isVideo" [src]="src" alt="" id="img-lightBox" (focus)="centerImage()">
<video *ngIf ="isVideo" [src]="src" controls autoplay alt="" id="video-lightBox" (focus)="centerImage()"></video>