#img-lightBox{
  left: 50%;
  top: 50%;
  position: absolute;
  max-width: 95%;
  max-height: 95%;
}
span{
  position: absolute;
  top: 15px;
  right: 15px;
  color: aqua;
  font-size: 18px;
  cursor: pointer;
}
video{
  left: 50%;
  top: 50%;
  position: absolute;
  max-width: 95%;
  max-height: 95%;
}