<textarea #messageInput cols="30" rows="1" class="form-control message-input" placeholder="Напишите сообщение..."></textarea>
<div class="toolbar">
    <div class="btn-group">
        <button class="btn btn-link">
            <img src="/assets/img/anor_files.svg" class="icon">
        </button>
        <button class="btn btn-link">
            <img src="/assets/img/anor_emojis.svg" class="icon">
        </button>
        <button class="btn btn-link" (click)="showStickers()">
            <img src="/assets/img/anor_stickers.svg" class="icon">
        </button>
        <button class="btn btn-primary" (click)="sendTextMessage()">
            <img src="/assets/img/anor_sendmessage.svg" class="icon">
        </button>
    </div>
    <sticker-place [hidden]="hidden" [display]="display" (sendMessage)="sendStickerMessage($event)" (hideStick)="hideStickers($event)"></sticker-place>
</div>