@import "../../../styles/variables";

.toolbar {
  color: $brand-primary;
  text-align: right;
  width: 100%;
  display: flex;
  flex-flow: row;
  flex: 1 1 40px;
  margin-top: auto;
  @media (min-width: map-get($grid-breakpoints, sm)) {
    //min-height: 120px;
    flex: 0 1 auto;
    flex-flow: column;
  }
  .btn-group {
    float: right;
    margin-left: auto;
    @media (min-width: map-get($grid-breakpoints, sm)) {
    }
    & > .btn {
      border-radius: 0;
    }
  }
}

.input-box {
  // padding-bottom: 40px;
  // position: relative;
}

.message-input {
  flex: 1 1 auto;
  border: 0;
  max-height: 300px;
}