@import "../../../styles/variables";

.list-group {
  .list-group-item {
    transition: 200ms all ease-in;
  }
}
.logo {
  width: 140px;
}
img.icon {
  display: inline-block;
  width: 20px;
  .menu & {
    margin-right: .8rem;
  }
}
.sidebar-opened .main-sidebar {
  left: 0;
}
.main-avatar {
  width: 120px;
  // height: 120px;
  border-radius: 50%;
  border: .4rem solid $brand-primary-dark;
}

.menu.list-group {
  margin-top: 5rem;
  .list-group-item {
    background-color: transparent;
    color: $gray-lighter;
    border: 0;
    padding-left: 0;
    border-bottom: 1px solid $brand-primary-dark;
    margin: 0 25px;
    &:last-child {
      border-bottom: 0;
    }
    &:hover,
    &:focus,
    &.active {
      background-color: $brand-primary-dark;
      margin: 0 -15px;
      padding-left: 40px;
    }
  }
}