<img src="/assets/img/gap-logo-w.svg" alt="Anor" class="p-4 mx-auto logo d-block">
<img src="/assets/img/avatar.svg" class="main-avatar mx-auto d-block">
<span class="lead d-block text-center">Kenya West</span>
<small class="d-block text-center">+998 90 505 05 90</small>
<div class="list-group menu mb-5">
    <a href="#" class="list-group-item active">
        <img src="/assets/img/anor_chat.svg" class="icon"> Личные
    </a>
    <a href="#" class="list-group-item">
        <img src="/assets/img/anor_groups.svg" class="icon"> Группы
    </a>
    <a href="#" class="list-group-item ">
        <img src="/assets/img/anor_contacts.svg" class="icon"> Контакты
    </a>
    <a href="#" class="list-group-item ">
        <img src="/assets/img/anor_profile.svg" class="icon"> Профиль
    </a>
    <a href="#" class="list-group-item ">
        <img src="/assets/img/anor_settings.svg" class="icon"> Настройки
    </a>
</div>