<div class="container-system home">
    <light-box (hideLightbox)="isShown($event)" [ngClass]="{'shown': show}"></light-box>
    <div class="row animated" [ngClass]="{'sidebar-opened' : sidebarOpened, 'chat-opened': chatOpened, 'chat-closed': !chatOpened}">

        <main-sidebar class="main-sidebar col-2 inverse-color d-lg-block"></main-sidebar>

        <chats class="chats col-6 col-sm-4 col-xl-3" (goingToChat)="openChat($event)" (togglingSidebar)="toggleSidebar($event)"></chats>

        <main-area *ngIf="chatOpened" class="main col p-0" (closingChat)="openChat($event)"></main-area>

        <!-- <div class="sticker-panel d-none d-xl-block col-xl-2 bg-lighter">

        </div> -->

        <div class="sidebar-bg" (click)="toggleSidebar()"></div>

    </div>
</div>