/*styles for home content only*/

@import "../../styles/variables";
@keyframes slideInLeft {
    from {
        transform: translateX(0);
    }
    to {
        visibility: visible;
        transform: translateX(-50%);
    }
}

@keyframes slideOutLeft {
    from {
        transform: translateX(-50%);
    }
    to {
        //visibility: hidden;
        transform: translateX(0);
    }
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}

a {
    cursor: pointer;
}

.home {
    &,
    &>.row {
        height: 100%;
    }
    &>.row {
        margin: auto;
        @media (max-width: map-get($grid-breakpoints, sm)) {
            width: 200%;
            &.sidebar-opened {}
            &.chat-opened {
                animation-name: slideInLeft;
            }
            &.chat-closed {
                animation-name: slideOutLeft;
            }
        }
    }
}

.main-sidebar {
    position: absolute;
    left: -220px;
    background-color: $brand-primary;
    min-width: 220px;
    max-width: 220px;
    height: 100%;
    //float: left;
    border-right: 1px solid $brand-primary-dark;
    transition: 200ms all ease-in;
    z-index: 1000;
    overflow-y: auto;
    @media (min-width: map-get($grid-breakpoints, lg)) {
        position: static;
    }
}

.sidebar-bg {
    display: none;
    background-color: transparent;
    transition: 200ms all ease-in;
    .sidebar-opened & {
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, .5);
        z-index: 999;
    }
}

.inverse-color {
    color: $gray-lighter;
}

.chats {
    height: 100%;
    max-height: 100%;
    border-right: 1px solid $gray-lighter;
    //width: 300px;
    //float: left;
    position: relative;
    overflow: hidden;
    @media (min-width: map-get($grid-breakpoints, sm)) {
        min-width: 320px;
        max-width: 350px;
    }
}

.sticker-panel {
    //background-color: $gray-lightest;
}

.main {
    display: flex;
    flex-flow: column;
    height: 100%;
    max-height: 100%;
    border-right: 1px solid $gray-lighter;
    overflow: hidden;
    @media (max-width: map-get($grid-breakpoints, sm)) {
        padding: 0;
    }
}

.input-box {
    // padding-bottom: 40px;
    // position: relative;
}

.date-header {
    display: block;
    text-align: center;
    position: relative;
    width: 100%;
    .date {
        padding: 5px 15px;
        color: $gray-light;
        background-color: #fff;
    }
    hr {
        position: absolute;
        top: 50%;
        border-top: 1px solid $gray-light;
        width: 100%;
        margin: 0;
        z-index: -1;
    }
}

.btn-back {
    display: none;
}

