<div class="stickers-panel row" [ngClass]="{'hidden': hidden, 'shown': !hidden}" [ngStyle]="{'display': display}" (mouseleave)="hideStickers()">
    <div class="col-md-3" (click)="sendSticker('/stickers/emo1.png')"><img src="http://api-srv-v2.blink.uz/stickers/emo1.png" class='img-fluid' alt=""></div>
    <div class="col-md-3"><img src="http://api-srv-v2.blink.uz/stickers/emo2.png" class='img-fluid' alt=""></div>
    <div class="col-md-3"><img src="http://api-srv-v2.blink.uz/stickers/emo3.png" class='img-fluid' alt=""></div>
    <div class="col-md-3"><img src="http://api-srv-v2.blink.uz/stickers/emo4.png" class='img-fluid' alt=""></div>
    <div class="col-md-3"><img src="http://api-srv-v2.blink.uz/stickers/emo5.png" class='img-fluid' alt=""></div>
    <div class="col-md-3"><img src="http://api-srv-v2.blink.uz/stickers/emo6.png" class='img-fluid' alt=""></div>
    <div class="col-md-3"><img src="http://api-srv-v2.blink.uz/stickers/emo7.png" class='img-fluid' alt=""></div>
    <div class="col-md-3"><img src="http://api-srv-v2.blink.uz/stickers/emo8.png" class='img-fluid' alt=""></div>
    <div class="col-md-3"><img src="http://api-srv-v2.blink.uz/stickers/emo9.png" class='img-fluid' alt=""></div>
    <div class="col-md-3"><img src="http://api-srv-v2.blink.uz/stickers/emo10.png" class='img-fluid' alt=""></div>
    <div class="col-md-3"><img src="http://api-srv-v2.blink.uz/stickers/emo11.png" class='img-fluid' alt=""></div>
    <div class="col-md-3"><img src="http://api-srv-v2.blink.uz/stickers/emo12.png" class='img-fluid' alt=""></div>
    <div class="col-md-3"><img src="http://api-srv-v2.blink.uz/stickers/emo13.png" class='img-fluid' alt=""></div>
    <div class="col-md-3"><img src="http://api-srv-v2.blink.uz/stickers/emo14.png" class='img-fluid' alt=""></div>
    <div class="col-md-3"><img src="http://api-srv-v2.blink.uz/stickers/emo15.png" class='img-fluid' alt=""></div>
    <div class="col-md-3"><img src="http://api-srv-v2.blink.uz/stickers/emo16.png" class='img-fluid' alt=""></div>
</div>