.stickers-panel{
  width: 350px;
  height: 350px;
  background-color: white;
  padding-top: 10px;
  border-radius: 8px;
  box-shadow: 1px 1px 7px black;
  display: none;
}


.shown{
  animation-name: show;
  display: flex;
  animation-duration: .5s;
  animation-fill-mode: forwards;
}
.hidden{
  animation-name: hidden;
  animation-duration: .5s;
  animation-fill-mode: forwards;
}
@keyframes show {
  0% {height: 0px; width: 0px; }
  100% {height: 350px; width: 350px; }

}
@keyframes hidden {
  0% {opacity:1;}

  100% {opacity:0;}

}
.img-fluid:hover{
  transform: scale(1.3);
}